<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="multi.level.mlm">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".History"></activity>
        <activity android:name=".FinishAllRankExam" />
        <activity android:name=".SelectVideo" />
        <activity android:name=".FinishExam" />
        <activity android:name=".SelectPracticeTopic" />
        <activity android:name=".SelectSubject" />
        <activity android:name=".VideoList" />
        <activity android:name=".QuationList" />
        <activity android:name=".SelectChapter" />
        <activity android:name=".SelectCourse" />
        <activity android:name=".PracticeTest" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity
            android:name=".Home_Menu"
            android:label="@string/title_activity_home__menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait" />
        <activity android:name=".TermsConditions" />
        <activity android:name=".Withdrawal" />
        <activity android:name=".PracticeTestList" />
    </application>

</manifest>