<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="multi.level.mlm">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mlogo"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".History" android:screenOrientation="portrait"></activity>
        <activity android:name=".FinishAllRankExam" android:screenOrientation="portrait" />
        <activity android:name=".SelectVideo" android:screenOrientation="portrait" />
        <activity android:name=".FinishExam" android:screenOrientation="portrait" />
        <activity android:name=".SelectPracticeTopic" android:screenOrientation="portrait"/>
        <activity android:name=".SelectSubject" android:screenOrientation="portrait"/>
        <activity android:name=".VideoList" android:screenOrientation="portrait"/>
        <activity android:name=".QuationList" android:screenOrientation="portrait"/>
        <activity android:name=".SelectChapter" android:screenOrientation="portrait"/>
        <activity android:name=".SelectCourse" android:screenOrientation="portrait"/>
        <activity android:name=".PracticeTest" android:screenOrientation="portrait"/>
        <activity android:name=".Login" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" android:screenOrientation="portrait"/>
        <activity
            android:name=".Home_Menu"
            android:label="@string/title_activity_home__menu"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait" />
        <activity android:name=".TermsConditions"  android:screenOrientation="portrait"/>
        <activity android:name=".Withdrawal" android:screenOrientation="portrait"/>
        <activity android:name=".PracticeTestList" android:screenOrientation="portrait"/>
    </application>

</manifest>