<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="my.edu.wings">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="my.edu.wings.History" android:screenOrientation="portrait"></activity>
        <activity android:name="my.edu.wings.FinishAllRankExam" android:screenOrientation="portrait" />
        <activity android:name="my.edu.wings.SelectVideo" android:screenOrientation="portrait" />
        <activity android:name="my.edu.wings.FinishExam" android:screenOrientation="portrait" />
        <activity android:name="my.edu.wings.SelectPracticeTopic" android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.SelectSubject" android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.VideoList" android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.QuationList" android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.SelectChapter" android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.SelectCourse" android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.PracticeTest" android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.Login" android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="my.edu.wings.Registration" android:screenOrientation="portrait"/>
        <activity
            android:name="my.edu.wings.Home_Menu"
            android:label="@string/title_activity_home__menu"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity
            android:name="my.edu.wings.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="my.edu.wings.EditProfile"
            android:screenOrientation="portrait" />
        <activity android:name="my.edu.wings.TermsConditions"  android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.Withdrawal" android:screenOrientation="portrait"/>
        <activity android:name="my.edu.wings.PracticeTestList" android:screenOrientation="portrait"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


    </application>

</manifest>